<!-- produto/partials/htmx_componentes/edit_produto_form.html -->
 <!--put é para publicar quando salvar, udando a mesma função edit_produto-->
 <form hx-put="{% url 'produto:edit_produto' produto.id %}" 
 hx-trigger="submit" 
 hx-target="#list-produto" 
 hx-swap="innerHTML">
{% csrf_token %}
<label for="nome-produto">Nome do produto</label>
<input type="text" id="nome-produto" name="nome_produto" class="form-control" value="{{ form.instance.nome_produto }}">
<br>
<label for="categoria-produto">Categoria</label>
<select id="categoria-produto" name="categoria" class="form-control">
   {% for categoria in categorias %}
       <option value="{{ categoria.id }}" {% if form.instance.categoria == categoria %}selected{% endif %}>{{ categoria.nome }}</option>
   {% endfor %}
</select>
<br>
<label for="descricao-produto">Descrição</label>
<textarea id="descricao-produto" name="descricao" class="form-control">{{ form.instance.descricao }}</textarea>
<br>
<label for="custo-produto">Custo</label>
<input type="number" id="custo-produto" name="custo" class="form-control" step="0.01" value="{{ form.instance.custo }}">
<br>
<label for="venda-produto">Preço de Venda</label>
<input type="number" id="venda-produto" name="venda" class="form-control" step="0.01" value="{{ form.instance.venda }}">
<br>
<label for="codigo-produto">Código</label>
<input type="text" id="codigo-produto" name="codigo" class="form-control" value="{{ form.instance.codigo }}">
<br>
<label for="estoque-produto">Estoque</label>
<input type="number" id="estoque-produto" name="estoque" class="form-control" value="{{ form.instance.estoque }}">
<br>
<label for="estoque-total-produto">Estoque Total</label>
<input type="number" id="estoque-total-produto" name="estoque_total" class="form-control" value="{{ form.instance.estoque_total }}">
<br>
<label for="imagem-produto">Imagem</label>
<input type="file" id="imagem-produto" name="imagem" class="form-control">
<br>
<button type="submit" class="btn btn-success">Salvar</button>
</form>




