<!-- produto/partials/htmx_componentes/list_all_categoria.html -->
<!-- Responsável por atualizar os valores da tabela de categoria
 após uma nova categoria ser add -->
 {% if categorias %}
 <table class="table table-striped">
     <thead>
         <tr>
             <th scope="col">Nome</th>
         </tr>
     </thead>
     <tbody>
         {% for categoria in categorias %}
             <tr>
                 <td>{{ categoria.nome }}</td>
             </tr>
         {% endfor %}
     </tbody>
 </table>
{% else %}
 <h4>Nenhuma categoria cadastrada.</h4>
{% endif %}


