<!-- produto/partials/htmx_componentes/list_all_produtos.html -->
{% if produtos %}
    <table class="table delete-row-example">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Código</th>
                <th scope="col">Estoque</th>
                <th scope="col" class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome_produto }}</td>
                <td>{{ produto.venda }}</td>
                <td>{{ produto.codigo }}</td>
                <td>{{ produto.estoque }}</td>
                <td class="text-end">
                    <button class="btn btn-warning"
                            hx-get="{% url 'produto:edit_produto' produto.id %}"
                            hx-trigger="edit"
                            onClick="let editing = document.querySelector('.editing');
                                    if(editing) {
                                        Swal.fire({
                                            title: 'Já está editando',
                                            showCancelButton: true,
                                            confirmButtonText: 'Sim, editar esta linha',
                                            text: 'Você já está editando uma linha! Deseja cancelar a edição e continuar?'
                                        }).then((result) => {
                                            if(result.isConfirmed) {
                                                htmx.trigger(editing, 'cancel');
                                                htmx.trigger(this, 'edit');
                                            }
                                        });
                                    } else {
                                        htmx.trigger(this, 'edit');
                                    }">
                        Editar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Controles de Paginação -->
    <div class="row mt-2">
        <div class="col-md-12">
            <nav aria-label="Navegação de página">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; primeira</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">próxima</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% else %}
    <h4>Nenhum produto cadastrado.</h4>
{% endif %}






