{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %} Produtos {% endblock %}
{% block 'conteudo1' %} 
    <nav class="navbar navbar-expand px-4 py-3">
        <form action="#" class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control border-0 rounded-0" placeholder="Search...">
                <button class="btn border-0 rounded-0" type="button">
                    Search
                </button>
            </div>
        </form>
        <i class='bx bx-menu' ></i>        
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="{% static 'app_chop/img/account.png' %}" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-timer"></i>
                            <span>Analytics</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-cog"></i>
                            <span>Setting</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-question-circle"></i>
                            <span>Analytics</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %} 
{% block 'conteudo' %}

    <div class="container-fluid">
        <div class="mb-3">
            <h3 class="fw-bold fs-4 mb-3">Produtos Cadastrados</h3>
            <div class="row row-cols-1 row-cols-md-6 g-6">
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Estoque Atual</h5>
                      <p class="card-text text-center">{{ total_estoque }} Unidade(S)</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">Atualizado a 3 mins</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Custo do Estoque</h5>
                        <p class="card-text text-center">R$ {{ total_custo_estoque }}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Atualizado a 3 mins</small>
                      </div>
                    </div>
                </div>  
                <div class="col">
                    <div class="card h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Valor do Estoque</h5>
                        <p class="card-text text-center">R$ {{ total_valor_estoque }}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Atualizado a 3 mins</small>
                      </div>
                    </div>
                </div> 
                <div class="col">
                    <div class="card h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Repor Estoque</h5>
                        <p class="card-text text-center">{{ total_reposicao_estoque }}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Atualizado a 3 mins</small>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Estoque Vazio</h5>
                        <p class="card-text text-center">{{ total_estoque_zerado }}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Atualizado a 3 mins</small>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Produtos Cadastrados</h5>
                        <p class="card-text text-center">{{ total_valor_estoque_total }}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Atualizado a 3 mins</small>
                      </div>
                    </div>
                </div>
            </div>

            <br><br>
                
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produtoModal">
                <i class='bx bx-plus-circle'></i>
                <span class="text">Cadastrar Novo Produto</span>
            </button>
            <br><br>
            <div class="row">
                <div class="col-12">
                    <h3>Produtos Cadastrados</h3>
                    <table class="table table-striped" id="produtos-table">
                        <thead>
                            <tr class="highlight">
                                <th scope="col">#</th>
                                <th scope="col">Nome do Produto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Custo</th>
                                <th scope="col">Venda</th>
                                <th scope="col">Código</th>
                                <th scope="col">Estoque</th>
                                <th scope="col">Estoque Total</th>
                                <th scope="col">Novo Pedido</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr id="produto-{{ produto.id }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ produto.nome_produto }}</td>
                                    <td>{{ produto.categoria }}</td>
                                    <td>{{ produto.custo }}</td>
                                    <td>{{ produto.venda }}</td>
                                    <td>{{ produto.codigo }}</td>
                                    <td>{{ produto.estoque }}</td>
                                    <td>{{ produto.estoque_total }}</td>
                                    <td>
                                        {% if produto.estoque < produto.estoque_total %}
                                            Sim
                                        {% else %}
                                            Não
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'editar_produto' produto.id %}" hx-get="{% url 'editar_produto' produto.id %}" hx-target="#produtoModal .modal-content">Editar</a> | 
                                        <a href="{% url 'deletar_produto' produto.id %}" hx-delete="{% url 'deletar_produto_confirmacao' produto.id %}" hx-target="#produto-{{ produto.id }}" hx-swap="outerHTML">Deletar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>

    <!-- Modal para cadastrar novo produto -->
    <div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="produtoModalLabel">Cadastrar Novo Produto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="novoProdutoForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome_produto" class="form-label">Nome do Produto</label>
                            <input type="text" class="form-control" id="nome_produto" name="nome_produto" required>
                        </div>
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria</label>
                            <select name="categoria" class="form-control" id="categoria" required>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoriaModal">
                                Nova Categoria
                            </button>
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Descrição</label>
                            <textarea class="form-control" id="descricao" name="descricao" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="custo" class="form-label">Custo</label>
                            <input type="number" step="0.01" class="form-control" id="custo" name="custo" required>
                        </div>
                        <div class="mb-3">
                            <label for="venda" class="form-label">Preço de Venda</label>
                            <input type="number" step="0.01" class="form-control" id="venda" name="venda" required>
                        </div>
                        <div class="mb-3">
                            <label for="estoque" class="form-label">Estoque</label>
                            <input type="number" class="form-control" id="estoque" name="estoque" required>
                        </div>
                        <div class="mb-3">
                            <label for="estoque_total" class="form-label">Estoque Total</label>
                            <input type="number" class="form-control" id="estoque_total" name="estoque_total" required>
                        </div>
                        <div class="mb-3">
                            <label for="codigo" class="form-label">Código</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" required>
                        </div>
                        <div class="mb-3">
                            <label for="imagem" class="form-label">Imagem</label>
                            <input type="file" class="form-control" id="imagem" name="imagem">
                        </div>
                        <button type="button" class="btn btn-primary" id="salvarProdutoBtn">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para cadastrar nova categoria -->
    <div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoriaModalLabel">Nova Categoria</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="novaCategoriaForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome_categoria" class="form-label">Nome da Categoria</label>
                            <input type="text" class="form-control" id="nome_categoria" name="nome_categoria" required>
                        </div>
                        <button type="button" class="btn btn-primary" id="salvarCategoriaBtn">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.getElementById('salvarCategoriaBtn').addEventListener('click', function() {
        const nomeCategoria = document.getElementById('nome_categoria').value;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch("{% url 'criar_categoria' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ nome: nomeCategoria })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const categoriaSelect = document.getElementById('categoria');
                const newOption = new Option(data.categoria_nome, data.categoria_id);
                categoriaSelect.add(newOption, undefined);
                categoriaSelect.value = data.categoria_id;

                const categoriaModal = bootstrap.Modal.getInstance(document.getElementById('categoriaModal'));
                categoriaModal.hide();
            } else {
                alert('Erro ao criar categoria');
            }
        });
    });

    document.getElementById('salvarProdutoBtn').addEventListener('click', function() {
        const form = document.getElementById('novoProdutoForm');
        const formData = new FormData(form);
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch("{% url 'valida_cadastro_produto' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();  // Recarrega a página para exibir o novo produto na tabela
            } else {
                alert('Erro ao cadastrar produto');
            }
        });
    });
    </script>

{% endblock %}



