<!--mesa/templates/mesa/abrir_mesa.html-->
{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid mt-0 pt-0">
    <div class="row" style="height: 80vh;">
        <div class="col-md-4" style="height: 100%;">
            <div class="card border-light mb-3 h-100">
                <div class="card-header" style="margin-right: 5px;">
                    <span style="color: green; font-weight: bold;">Mesa: {{ mesa.nome }}</span>
                </div>
                <div class="card-body" style="display: flex; align-items: center;">
                    <ul class="list-group list-group-flush" style="display: flex; align-items: center; list-style: none; padding: 0; margin: 0;">
                        <li class="list-group-item" style="color: black; font-weight: bold; margin-right: 5px;">Pedido: {{ mesa.pedido }}</li>
                    </ul>
                    <ul class="list-group list-group-flush" style="display: flex; align-items: center; list-style: none; padding: 0; margin: 0;">
                        <li class="list-group-item" style="background-color: green; color: white; font-weight: bold;">Em aberto</li>
                    </ul>
                </div>
                <!-- Seção do Usuário Logado -->
                <div class="col-md">
                    <hr>
                    <form method="post" action="{% url 'mesa:update_user' mesa.id %}">
                        {% csrf_token %}
                        <div class="form-group mx-2">
                            <label for="usuario">Atendente:</label>
                            <select id="usuario" name="usuario" class="form-control">
                                {% for user in usuarios %}
                                    <option value="{{ user.id }}" {% if user.id == mesa.usuario.id %}selected{% endif %}>
                                        {{ user.username }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 mx-2">Atualizar Usuário</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="height: 100%;">
            <div class="card border-light mb-3 h-100">
                <!-- Lista de itens na mesa -->
                {% if mesa.itens %}
                    <h2 class="mt-3 px-2">Comanda de pedido: {{ mesa.pedido }}</h2>
                    <ul>
                        {% for item in mesa.itens %}
                            {% if item.quantidade > 0 %}
                                <li>{{ item.nome_produto }} - {{ item.quantidade }} - R${{ item.preco_unitario }}</li>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluirItemModal" data-item-codigo="{{ item.codigo }}">Excluir</button>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{% url 'mesa:gerar_comanda_pdf' mesa.id %}" class="btn btn-secondary mt-3">Imprimir Comanda</a>
                {% else %}
                    <h>Nenhum produto na comandada</h>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal para adicionar produto -->
<div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="produtoModalLabel">Adicionar Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="true">Tabela</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="grid-tab" data-bs-toggle="tab" data-bs-target="#grid" type="button" role="tab" aria-controls="grid" aria-selected="false">Grade</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                        <!-- Conteúdo da Tabela -->
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                    <th>Preço</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.nome_produto }}</td>
                                    <td>{{ produto.categoria.nome }}</td>
                                    <td>{{ produto.venda }}</td>
                                    <td>
                                        <form method="post" action="{% url 'mesa:adicionar_item_mesa' mesa.id produto.id %}">
                                            {% csrf_token %}
                                            <input type="number" name="quantidade" value="1" min="1" class="form-control" style="width: 60px; display: inline-block;">
                                            <button type="submit" class="btn btn-success">Adicionar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                        <!-- Conteúdo da Grade -->
                        <div class="row mt-3">
                            {% for produto in produtos %}
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    {% if produto.imagem %}
                                        <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome_produto }}">
                                    {% else %}
                                        <img src="{% static 'img/default.png' %}" class="card-img-top" alt="Imagem não disponível">
                                    {% endif %}

                                    <div class="card-body">
                                        <h5 class="card-title">{{ produto.nome_produto }}</h5>
                                        <p class="card-text">{{ produto.categoria.nome }}</p>
                                        <p class="card-text">R${{ produto.venda }}</p>
                                        <form method="post" action="{% url 'mesa:adicionar_item_mesa' mesa.id produto.id %}">
                                            {% csrf_token %}
                                            <input type="number" name="quantidade" value="1" min="1" class="form-control mb-2">
                                            <button type="submit" class="btn btn-success">Adicionar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para exclusão de itens -->
<div class="modal fade" id="excluirItemModal" tabindex="-1" aria-labelledby="excluirItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="excluirItemModalLabel">Excluir Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir este item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'mesa:excluir_item' mesa.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_codigo" id="itemCodigo">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var excluirItemModal = document.getElementById('excluirItemModal');
        excluirItemModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var itemCodigo = button.getAttribute('data-item-codigo');
            var inputItemCodigo = excluirItemModal.querySelector('#itemCodigo');
            inputItemCodigo.value = itemCodigo;
        });
    });
</script>
{% endblock %}




