{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Card 1: Nome da Mesa e Usuário -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mesa: {{ mesa.nome }}</h5>
                    <p class="card-text">Usuário: {{ user.username }}</p>
                </div>
            </div>
        </div>

        <!-- Card 2: Itens da Mesa -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Botão para abrir o modal de adicionar produto -->
                    <div class="d-flex justify-content-end mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adicionarProdutoModal">
                            Adicionar Produto
                        </button>
                    </div>
                    <h5 class="card-title">Itens da Mesa</h5>
                    {% if mesa.itens %}
                        <ul id="item-list">
                            {% for item in mesa.itens %}
                                <li>{{ item.nome_produto }} - {{ item.quantidade }} x R$ {{ item.preco_unitario }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Nenhum item adicionado.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para adicionar produto -->
<div class="modal fade" id="adicionarProdutoModal" tabindex="-1" aria-labelledby="adicionarProdutoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adicionarProdutoModalLabel">Adicionar Produto à Mesa: {{ mesa.nome }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Categoria</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.nome_produto }}</td>
                            <td>{{ produto.categoria.nome }}</td>
                            <td>R${{ produto.venda|floatformat:2 }}</td>
                            <td>
                                <form method="post" action="{% url 'mesa:adicionar_item' mesa.id produto.id %}">
                                    {% csrf_token %}
                                    <input type="number" name="quantidade" value="1" min="1" class="form-control mb-2" style="width: 60px;">
                                    <button type="submit" class="btn btn-success">Adicionar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
