<!-- mesa/templates/mesa/list_mesa.html -->
{% extends "core/base.html" %}

{% block content %}
<div class="container">
    <!-- Botão para abrir o modal de cadastro de nova mesa -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#novaMesaModal">
        Cadastrar Nova Mesa
    </button>

    
    <!-- Modal para cadastro de nova mesa via cards -->
    <div class="modal fade" id="novaMesaModal" tabindex="-1" aria-labelledby="novaMesaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novaMesaModalLabel">Cadastro de Nova Mesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% for numero in mesas_disponiveis %}
                            <div class="col-4 col-md-3 mb-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Mesa {{ numero }}</h5>
                                        <form hx-post="{% url 'mesa:nova_mesa' %}" 
                                            hx-target="#lista-de-mesas" 
                                            hx-swap="innerHTML"
                                            hx-on="htmx:afterRequest resetModal">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success" name="nome" value="{{ numero }}">Adicionar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para cadastro de nova mesa via input -->
    <div class="modal fade" id="novaMesaModal" tabindex="-1" aria-labelledby="novaMesaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novaMesaModalLabel">Cadastro de Nova Mesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulário de cadastro da nova mesa -->
                    <form hx-post="{% url 'mesa:nova_mesa' %}" 
                          hx-target="#lista-de-mesas" 
                          hx-swap="innerHTML" 
                          hx-on="htmx:afterRequest:resetModal"
                          id="formNovaMesa">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nomeMesa" class="form-label">Nome da Mesa</label>
                            <input type="text" class="form-control" id="nomeMesa" name="nome" required>
                        </div>
                        <button type="submit" class="btn btn-success">Salvar Mesa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Aqui será exibida a lista de mesas -->
    <div id="lista-de-mesas">
        {% if mesas_abertas %}
            <h2 style="color:green;">Pedido(s) em andamento</h2>
            <div class="row">
                {% for mesa in mesas_abertas %}
                    <div class="col-12 col-md-2">
                        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header text-center">
                                <a href="{% url 'mesa:abrir_mesa' mesa.id %}" class="abrir-mesa-link" style="color: white;">Ver pedido</a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title text-center">{{ mesa.nome }}</h5>
                              <p class="card-text text-center">Pedido: {{ mesa.pedido }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if mesas_fechadas %}
            <h2>Mesas Fechadas</h2>
            <div class="row">
                {% for mesa in mesas_fechadas %}
                    <div class="col-12 col-md-2">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header text-center">
                                <a href="{% url 'mesa:abrir_mesa' mesa.id %}" class="abrir-mesa-link" style="color: white;">Abrir</a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title text-center">{{ mesa.nome }}</h5>
                              <p class="card-text text-center">Pedido: {{ mesa.pedido }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}



