<!-- mesa/templates/mesa/mesa_form.html -->
{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Cadastro de Nova Mesa</h2>
    <form method="post" action="{% url 'mesa:nova_mesa' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nomeMesa" class="form-label">Nome da Mesa</label>
            <input type="text" class="form-control" id="nomeMesa" name="nome" required>
        </div>
        <button type="submit" class="btn btn-success">Salvar Mesa</button>
    </form>
</div>
{% endblock %}


