{% extends 'base.html' %}

{% block content %}

<p>Bem vindo!</p>

<p>
    É muito importante cuidar do paciente, e o paciente será acompanhado, mas ao mesmo tempo ocorrem em decorrência de muita dor e sofrimento. Pois, falando nos mínimos detalhes, ninguém deve praticar qualquer tipo de trabalho, a menos que dele obtenha algum benefício. Não fique zangado com a dor na repreensão, no prazer que ele quer ser um fio de cabelo da dor, deixe-o fugir da dor. A menos que estejam cegos pela luxúria, eles não se manifestam; são culpados aqueles que abandonam seus deveres e amolecem seus corações, isto é, seus trabalhos.
    <br>
    <br>    
    Dito outras coisas, ou as do presente do escolhido, um certo escolhido nato de quem ninguém deve ser recusado, se estivermos livres daquilo que é nosso ou do prazer das nossas dívidas, livres da culpa fácil, o que são as dores que nos impedem de rejeitá-las? 
</p>

{% endblock content %}