{% extends 'base.html' %}

{% block 'titulo' %} Produtos {% endblock %}

{% block 'conteudo' %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <h1>Deletar Produto</h1>
    
                <p><strong>Nome do Produto:</strong> {{ produto.nome_produto }}</p>
                <p><strong>Categoria:</strong> {{ produto.categoria }}</p>
                <p><strong>Custo:</strong> R$ {{ produto.custo }}</p>
                <p><strong>Preço de Venda:</strong> R$ {{ produto.venda }}</p>
                
                <form method="POST" action="{% url 'deletar_produto_confirmacao' produto_id %}">
                    {% csrf_token %}
                    <input type="submit" value="Confirmar Exclusão">
                </form>               
            </div>
        </div>
    </div>

{% endblock %}
