

<!-- core/templates/base.html -->
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
    <title>Choperia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block css %}{% endblock css %}
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Choperia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <!-- No template, ao usar a tag href="{ url %}", você deve incluir o namespace
            Nesse caso estou usando core: -->
            <a class="nav-link" href="{% url 'core:index' %}">Home</a>''
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">Produtos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'produto:produto_list' %}">Produtos</a>
              <a class="dropdown-item" href="{% url 'produto:import_xlsx' %}">Importar XLSX</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown">Estoque</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'estoque:estoque_entrada_list' %}">Entrada</a>
              <a class="dropdown-item" href="{% url 'estoque:estoque_saida_list' %}">Saída</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown">Protocolo de Entrega</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'estoque:protocolo_de_entrega_list' %}">Entrega</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown">Mesas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'mesa:mesa_list' %}">Listar mesas</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown">Empresas</a>
            <div class="dropdown-menu">
              <!-- Se não houver um pk disponível, remova o link de detalhes -->
              <!-- <a class="dropdown-item" href="{% url 'empresa:empresa_detail' pk=1 %}">Detalhes das empresas</a> -->
              <a class="dropdown-item" href="{% url 'empresa:empresa_list' %}">Lista das empresas</a>
            </div>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a href="{% url 'logout' %}" class="nav-link">Sair</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>

    <div class="container mb-2 p-2">
      <br>
      {% block content %}{% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>

    {% block js %}{% endblock js %}
  </body>
</html>

