{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %} CHOPERIA {% endblock %}
{% block 'conteudo1' %} 
    <nav class="navbar navbar-expand px-4 py-3">
        <form action="#" class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control border-0 rounded-0" placeholder="Search...">
                <button class="btn border-0 rounded-0" type="button">
                    Search
                </button>
            </div>
        </form>
        <!-- Escolha do tema -->
        <div class="dropdown ms-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Escolha do tema
            </button>
            <ul class="dropdown-menu" aria-labelledby="themeDropdown">
                <li><a class="dropdown-item" href="#" onclick="setTheme('light')">Claro</a></li>
                <li><a class="dropdown-item" href="#" onclick="setTheme('dark')">Escuro</a></li>
            </ul>
        </div>
        <!-- Fim escolha do tema -->
        
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="{% static 'img/account.png' %}" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-timer"></i>
                            <span>Analytics</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-cog"></i>
                            <span>Setting</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-question-circle"></i>
                            <span>Analytics</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %} 
{% block 'conteudo' %} 
    
    <div class="container d-flex justify-content-center align-items-center vh-100"> <!-- Centraliza o conteúdo na horizontal e verticalmente -->
        <div class="text-center text-danger"> <!-- Centraliza o texto e define a cor vermelha -->
            <h1>CHOPERIA POINT DO MORRO</h1>
        </div>
    </div>  
{% endblock %}

