{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %} Produtos {% endblock %}
{% block 'conteudo1' %} 
    <nav class="navbar navbar-expand px-4 py-3">
        <form action="#" class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control border-0 rounded-0" placeholder="Search...">
                <button class="btn border-0 rounded-0" type="button">
                    Search
                </button>
            </div>
        </form>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="{% static 'app_chop/img/account.png' %}" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-timer"></i>
                            <span>Analytics</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-cog"></i>
                            <span>Setting</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="lni lni-question-circle"></i>
                            <span>Analytics</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %} 
{% block 'conteudo' %}

    <div class="container-fluid">
        <div class="mb-3">
            <h3 class="fw-bold fs-4 mb-3">Produtos Cadastrados</h3>
            <div class="row">
                <div class="col-12 col-md-2">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <i class='bx bxs-box'></i>                            
                            <h5 class="mb-2 fw-bold">Estoque Atual</h5>
                            <p class="mb-2 fw-bold">{{ total_estoque }} Unidade(S)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <i class='bx bxs-coin-stack'></i>
                            <h5 class="mb-2 fw-bold">Custo do Estoque</h5>
                            <p class="mb-2 fw-bold">R$ {{ total_custo_estoque }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <i class='bx bxs-dollar-circle'></i>
                            <h5 class="mb-2 fw-bold">Valor do Estoque</h5>
                            <p class="mb-2 fw-bold">R$ {{ total_valor_estoque }}</p>                           
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <i class='bx bxs-truck'></i>
                            <h5 class="mb-2 fw-bold">Repor Estoque</h5>
                            <p class="mb-2 fw-bold">{{ total_reposicao_estoque }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <i class='bx bxs-error-circle'></i>
                            <h5 class="mb-2 fw-bold">Estoque Vazio</h5>
                            <p class="mb-2 fw-bold">{{ total_estoque_zerado }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <i class='bx bxs-tag'></i>
                            <h5 class="mb-2 fw-bold">Produtos cadastrados</h5>
                            <p class="mb-2 fw-bold">{{ total_valor_estoque_total }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
                
            <a href="{% url 'cadastrar_produto' %}" class="btn-cadastro">
                <i class='bx bx-plus-circle'></i>
                <span class="text">Cadastrar Novo Produto</span>
            </a>
            <br><br>
            <div class="row">
                <div class="col-12">
                    <h3>Produtos Cadastrados</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr class="highlight">
                                <th scope="col">#</th>
                                <th scope="col">Nome do Produto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Custo</th>
                                <th scope="col">Venda</th>
                                <th scope="col">Código</th>
                                <th scope="col">Estoque</th>
                                <th scope="col">Estoque Total</th>
                                <th scope="col">Novo Pedido</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ produto.nome_produto }}</td>
                                    <td>{{ produto.categoria }}</td>
                                    <td>{{ produto.custo }}</td>
                                    <td>{{ produto.venda }}</td>
                                    <td>{{ produto.codigo }}</td>
                                    <td>{{ produto.estoque }}</td>
                                    <td>{{ produto.estoque_total }}</td>
                                    <td>
                                        {% if produto.estoque < produto.estoque_total %}
                                            Sim
                                        {% else %}
                                            Não
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'editar_produto' produto.id %}">Editar</a> | 
                                        <a href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
