<!-- produto/templates/produto/produto_list.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Listagem de Produtos</h1>
    <!-- Usamos o HTMX para realizar as atualizações sem recarregar a página. 
     HTMX é uma biblioteca que permite adicionar interatividade aos seus templates HTML com apenas atributos HTML. -->
    <button id="import-btn" class="btn btn-primary" hx-get="{% url 'produto:import_xlsx' %}" hx-target="#produto-list" hx-swap="innerHTML">Importar Produtos</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Custo</th>
                <th>Venda</th>
                <th>Estoque</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody id="produto-list">
            <!-- Somente nesse ponto acontece as mudanças da página
             quando o usuario clicar na teg 'produto:import_xlsx' -->
            {% include 'produto/produto_list_fragment.html' %}
        </tbody>
    </table>
</div>
{% endblock content %}
