<!-- estoque/templates/estoque/protocolo_entrega_list.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Protocolos de Entrega</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for protocolo in protocolos %}
            <tr>
                <td>{{ protocolo.produto.nome_produto }}</td>
                <td>{{ protocolo.quantidade }}</td>
                <td>{{ protocolo.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
