{% extends 'base.html' %}

{% load static %}

{% block 'titulo' %} Produtos {% endblock %}

{% block 'conteudonav' %} 

    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>
        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
            <img src="{% static 'ap_cho/img/people.png' %}" class="avatar img-fluid rounded-circle" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-end rounded">
            <a href="#" class="dropdown-item">
                <i class="lni lni-timer"></i>
                <span>Analytics</span>
            </a>
            <a href="#" class="dropdown-item">
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="lni lni-question-circle"></i>
                <span>Analytics</span>
            </a>
        </div>
    </nav>
    <!-- NAVBAR -->
 
{% endblock %} 

{% block 'conteudo' %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <h1>Deletar Produto</h1>
                <p><strong>Nome do Produto:</strong> {{ produto.nome_produto }}</p>
                <p><strong>Categoria:</strong> {{ produto.categoria }}</p>
                <p><strong>Custo:</strong> R$ {{ produto.custo }}</p>
                <p><strong>Preço de Venda:</strong> R$ {{ produto.venda }}</p>
                <form method="POST" action="{% url 'deletar_produto' produto.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Confirmar Exclusão" class="btn btn-danger">
                    <a href="{% url 'tabela_produtos' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


