<!-- ap_cho/produto/partial_produtos_table.html -->
<table class="table table-striped" id="produtos-table">
    <thead>
        <tr class="highlight">
            <th scope="col">#</th>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Custo</th>
            <th scope="col">Venda</th>
            <th scope="col">Código</th>
            <th scope="col">Estoque</th>
            <th scope="col">Estoque Total</th>
            <th scope="col">Novo Pedido</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
            <tr id="produto-{{ produto.id }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ produto.nome_produto }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.custo }}</td>
                <td>{{ produto.venda }}</td>
                <td>{{ produto.codigo }}</td>
                <td>{{ produto.estoque }}</td>
                <td>{{ produto.estoque_total }}</td>
                <td>
                    {% if produto.estoque < produto.estoque_total %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'editar_produto' produto.id %}">Editar</a> | 
                    <a href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
