{% extends 'base.html' %}


{% block 'titulo' %} Quitanda Online :: Alteração de Senha {% endblock %}

{% block 'conteudo' %} 
    <div class="container">
        <h1>Minha Conta</h1>
        <div class="row gx-3">
            <div class="col-4">
                <div class="list-group">
                    <a href="{% url 'cliente_dados' %}" class="list-group-item list-group-item-action">
                        <i class="bi-person fs-6"></i> Dados Pessoais
                    </a>
                    <a href="{% url 'cliente_contatos' %}" class="list-group-item list-group-item-action">
                        <i class="bi-mailbox fs-6"></i> Contatos
                    </a>
                    <a href="{% url 'cliente_endereco' %}" class="list-group-item list-group-item-action">
                        <i class="bi-house-door fs-6"></i> Endereço
                    </a>
                    <a href="{% url 'cliente_pedidos' %}" class="list-group-item list-group-item-action">
                        <i class="bi-truck fs-6"></i> Pedidos
                    </a>
                    <a href="{% url 'cliente_favoritos' %}" class="list-group-item list-group-item-action">
                        <i class="bi-heart fs-6"></i> Favoritos
                    </a>
                    <a href="{% url 'cliente_senha' %}" class="list-group-item list-group-item-action bg-danger text-light">
                        <i class="bi-lock fs-6"></i> Alterar Senha
                    </a>
                    <a href="{% url 'index' %}" class="list-group-item list-group-item-action">
                        <i class="bi-door-open fs-6"></i> Sair
                    </a>
                </div>
            </div>
            <div class="col-8">
                <form class="col-sm-12 col-md-8 col-lg-6" method="POST" action="{% url 'confirmcadastrosenha' %}">
                    {% csrf_token %}
        >
                    <div class="form-floating mb-3">
                        <input type="password" id="txtSenhaAtual" class="form-control" placeholder=" " autofocus>
                        <label for="txtSenhaAtual">Digite aqui sua senha atual</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" id="txtSenha" class="form-control" placeholder=" ">
                        <label for="txtSenha">Digite aqui sua nova senha</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" id="txtConfSenha" class="form-control" placeholder=" ">
                        <label for="txtConfSenha">Redigite aqui a nova senha</label>
                    </div>

                    <input class="btn btn-lg btn-danger" type="submit" value="Alterar Senha">
                </form>
            </div>
        </div>
    </div>
{% endblock %}