{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %} CHOPERIA {% endblock %}
{% block 'head' %}
    <style>
        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            color: red;
        }
    </style>
{% endblock %}
{% block 'conteudo' %} 
    <div class="center-content">
        <h1>CHOPERIA POINT DO MORRO</h1>
    </div>
{% endblock %}
