<!--produto/templates/produto/categoria_list.html-->
{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Categorias</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; primeira</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

