{% extends 'base.html' %} 
<!--Esta linha indica que o template atual (neste caso, o arquivo de cadastro.html) 
    estende o conteúdo do arquivo base.html. Isso significa que o conteúdo do arquivo 
    base.html será exibido em conjunto com o conteúdo do arquivo de cadastro.html.
-->

{% block 'titulo' %} Cadastro {% endblock %}
<!--Aqui, você está definindo um bloco chamado 'titulo' que será preenchido com o texto "Cadastro". 
    Esse bloco pode ser substituído no arquivo base.html ou em qualquer outro arquivo que estenda o base.html.-->
{% load static %}

{% block 'conteudonav' %} 

    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>
        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
            <img src="{% static 'ap_cho/img/people.png' %}" class="avatar img-fluid rounded-circle" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-end rounded">
            <a href="#" class="dropdown-item">
                <i class="lni lni-timer"></i>
                <span>Analytics</span>
            </a>
            <a href="#" class="dropdown-item">
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="lni lni-question-circle"></i>
                <span>Analytics</span>
            </a>
        </div>
    </nav>
    <!-- NAVBAR -->
 
{% endblock %} 

{% block 'conteudo' %}
<!--Estes comandos delimitam um bloco chamado 'conteudo', onde você pode inserir 
    o conteúdo específico da página de cadastro. O conteúdo dentro deste bloco 
    será exibido no local correspondente dentro do arquivo base.html.-->

<div class="container">
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Cadastro realizado com sucesso
        </div>
    {% endif %}

    {% if status == '1'%}
      <div class="alert alert-danger" role="alert">
        Nome e email não podem estar vazios.
      </div>
    {% endif %}

    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Sua senha deve ter pelo menos 8 caracteres
        </div>
    {% endif %}

    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            Usuário já existe no sistema
        </div>
    {% endif %}

    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            Erro interno do sistema
        </div>
    {% endif %}
    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md">
            <!--Este elemento <div> é usado para criar uma divisão no layout da página. 
                A classe "col-md" está relacionada ao sistema de grid do Bootstrap, 
                indicando que este elemento ocupará uma coluna em um layout responsivo para dispositivos médios.-->
           <h1>Cadastre-se</h1>
           <!--Aqui é exibido um título "Cadastre-se" em formato de cabeçalho de nível 1 (<h1>), 
            indicando que se trata de um formulário de cadastro.-->
           <hr> <!--Este elemento <hr> cria uma linha horizontal para separar visualmente o título do restante do conteúdo.-->

           <form method="POST" action="{% url 'valida_cadastro' %}">{% csrf_token %}
            <!--Aqui começa um formulário HTML. O atributo method="POST" indica que os dados do formulário serão enviados 
                por meio do método POST. O atributo action está usando a tag {% url 'valida_cadastro' %} para definir a URL 
                para onde os dados serão enviados. A tag {% csrf_token %} é usada para adicionar um token CSRF ao formulário, ajudando a proteger contra ataques CSRF.-->

                <label>Nome</label>
                <input name="nome" class="form-control" type="text" placeholder="Nome..."> 
                <!--o atributo name="nome" é usado para identificar o campo de entrada de texto associado ao nome do usuário. Quando o formulário é enviado, 
                    os dados inseridos neste campo serão enviados com a chave "nome" no formato chave=valor. 
                    Isso permite que o servidor identifique qual informação está sendo enviada para processamento.-->
                <br>
                <label>Email</label>
                <input name="email" class="form-control" type="text" placeholder="Email...">
                <!--O atributo name="email" neste campo de entrada de texto está associado ao endereço de e-mail do usuário. 
                    Da mesma forma que no caso anterior, quando o formulário é submetido, os dados inseridos neste campo 
                    são enviados com a chave "email", permitindo a identificação dos dados relacionados ao e-mail do usuário.-->
                <br>
                <label>Senha</label>
                <input name="senha" class="form-control" type="password" placeholder="Senha...">
                <!--o atributo name="senha" está relacionado ao campo de entrada de senha. 
                    Ao inserir a senha no formulário e submetê-lo, os dados serão enviados com a chave "senha". 
                    O uso do tipo password mascara os caracteres digitados para proteger a privacidade da senha do usuário.-->

                <!--Em resumo, o atributo name em cada campo de entrada do formulário HTML é fundamental para 
                    identificar e enviar corretamente os dados inseridos pelo usuário para processamento posterior, 
                    seja para validação, armazenamento ou qualquer outra operação necessária no backend.-->
                <br>
                <input class="btn btn-info btn-lg" type="submit" value="Enviar">
                <!--Um botão "Enviar" estilizado com as classes do Bootstrap para um botão informativo de grande tamanho.-->
                <!--Este elemento <input> do tipo "submit" é um botão de envio dentro do formulário.

                A classe "btn btn-info btn-lg" provavelmente está relacionada ao framework CSS, como Bootstrap, e define o estilo visual do botão.
                type="submit" indica que este botão irá submeter o formulário quando clicado.
                O valor "Enviar" é o texto exibido no botão de envio, indicando ao usuário que ao clicar nesse botão os dados do formulário serão enviados para a URL especificada no atributo action.-->

                <!--Dessa forma, ao clicar no botão "Enviar", o formulário será submetido usando o método POST para 
                    a URL gerada dinamicamente pela expressão {% url 'valida_cadastro' %}, permitindo o envio dos 
                    dados inseridos no formulário para serem processados pela view correspondente no backend.-->
                <a href="{% url 'login' %}" class="btn btn-warning btn-lg">Login</a>
                <!--Um link estilizado como um botão para redirecionar os usuários para a página de login. O link é gerado dinamicamente com a tag {% url 'login' %}.-->

           </form>
        </div>

        <div class="col-md-3">

        </div>


    </div>

</div>


{% endblock %}


