{% extends "base.html" %}

{% load static %}

{% block 'titulo' %} {{ mesa.nome }} {% endblock %}

{% block 'conteudonav' %} 

    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <a href="{% url 'cadastrar_mesa' %}" class="btn-cadastro">
            <i class='bx bx-plus-circle'></i>
            <span class="text">Add Mesa</span>
        </a>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>
        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
            <img src="{% static 'ap_cho/img/people.png' %}" class="avatar img-fluid rounded-circle" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-end rounded">
            <a href="#" class="dropdown-item">
                <i class="lni lni-timer"></i>
                <span>Analytics</span>
            </a>
            <a href="#" class="dropdown-item">
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="lni lni-question-circle"></i>
                <span>Analytics</span>
            </a>
        </div>
    </nav>
    <!-- NAVBAR -->
 
{% endblock %} 

{% block 'conteudo1' %} 

{% endblock %}

{% block 'conteudo' %}
    <h1>Mesa: {{ mesa.nome }}</h1>
    <h2>Pedido: {{ mesa.pedido }}</h2>
    <h3>Status: {{ mesa.status }}</h3>

    <h2>Itens</h2>
    <ul>
        {% for item in mesa.itens %}
        <li>{{ item.nome_produto }} - {{ item.quantidade }} - R${{ item.preco_unitario }}</li>
        <a href="{% url 'excluir_item_mesa' mesa.id item.codigo %}">Excluir</a>
        {% endfor %}
    </ul>

    <h2>Adicionar Produto</h2>
    <a href="{% url 'adicionar_produto' mesa.id %}" class="btn btn-primary">Adicionar Produto</a>

    <form method="post" action="{% url 'finalizar_pagamento' mesa.id %}">
        {% csrf_token %}
        <button type="submit">Finalizar Pagamento</button>
    </form>
{% endblock %}

