{% extends "base.html" %}

{% load static %}

{% block 'titulo' %} {{ mesa.nome }} {% endblock %}

{% block 'conteudonav' %} 

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
        <div class="container-fluid">
            <i class='bx bx-menu me-2'></i>  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if mesa.nome|length < 2 %}
                    <a class="navbar-brand me-2" style="color: green; font-weight: bold;">Mesa: 0{{ mesa.nome }}</a>
                {% else %}
                    <a class="navbar-brand me-2" style="color: green; font-weight: bold;">Mesa: {{ mesa.nome }}</a>
                {% endif %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; font-weight: bold;">Pedido: {{ mesa.pedido }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-expanded="false" style="background-color: green; color: white; font-weight: bold;">
                            Em aberto
                        </a>
                    </li>
                </ul>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary rounded-pill btn-custom" data-bs-toggle="modal" data-bs-target="#produtoModal">
                        <i class='bx bx-plus-circle'></i>
                        <span class="text">Add Produto</span>
                    </button>
                </li>
            </div>
        </div>
    </nav>
    
    <!-- NAVBAR -->

 
{% endblock %} 

{% block 'conteudo1' %} 
    
{% endblock %}

{% block 'conteudo' %}
    <h1></h1>
    <h2>Pedido: {{ mesa.pedido }}</h2>
    <h3>Status: {{ mesa.status }}</h3>

    <h2>Itens</h2>
    <ul>
        {% for item in mesa.itens %}
        <li>{{ item.nome_produto }} - {{ item.quantidade }} - R${{ item.preco_unitario }}</li>
        <a href="{% url 'excluir_item_mesa' mesa.id item.codigo %}">Excluir</a>
        {% endfor %}
    </ul>

    <h2>Adicionar Produto</h2>
    <a href="{% url 'adicionar_produto' mesa.id %}" class="btn btn-primary">Adicionar Produto</a>

    <form method="post" action="{% url 'finalizar_pagamento' mesa.id %}">
        {% csrf_token %}
        <button type="submit">Finalizar Pagamento</button>
    </form>
{% endblock %}

