<!--lista_mesas.html-->
{% extends "base.html" %}
{% load static %}
{% block 'titulo' %} Mesas {% endblock %}

{% block 'conteudonav' %} 
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu'></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
        </form>
        <button type="button" class="btn-cadastro" data-bs-toggle="modal" data-bs-target="#mesaModal">
            <i class='bx bx-plus-circle'></i>
            <span class="text">Add Mesa</span>
        </button>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell'></i>
            <span class="num">8</span>
        </a>
        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
            <img src="{% static 'ap_cho/img/people.png' %}" class="avatar img-fluid rounded-circle" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-end rounded">
            <a href="#" class="dropdown-item">
                <i class="lni lni-timer"></i>
                <span>Analytics</span>
            </a>
            <a href="#" class="dropdown-item">
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="lni lni-question-circle"></i>
                <span>Analytics</span>
            </a>
        </div>
    </nav>
    <!-- NAVBAR -->
{% endblock %}

{% block 'conteudo' %}
    <div id="mesas-container">
        {% include "ap_cho/mesa/partial_lista_mesas.html" %}
    </div>

    <!-- Modal for adding a new mesa -->
    <div class="modal fade" id="mesaModal" tabindex="-1" aria-labelledby="mesaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mesaModalLabel">Cadastrar Mesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-mesa" method="POST" hx-post="{% url 'valida_cadastro_mesa' %}" hx-target="#mesas-container" hx-swap="outerHTML" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome da Mesa</label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}



