<!-- templates/partials/htmx_componentes/edit_produto.html -->
<form hx-post="{% url 'update_produto' produto.id %}" hx-target="#list-produto" hx-swap="innerHTML">
    {% csrf_token %}
    <label for="nome">Nome do produto</label>
    <input type="text" name="nome" class="form-control" value="{{ produto.nome }}">
    <label for="preco">Preço do produto</label>
    <input type="number" name="preco" class="form-control" value="{{ produto.preco }}">
    <br>
    <button class="btn btn-success">Salvar</button>
</form>


