<!-- mesa/templates/mesa/partials/htmx_componentes/uma_mesa_aberta.html -->
<div class="container-fluid mt-0 pt-0">
    <div class="row" style="height: 80vh;">
        <!-- Informações da mesae do atendente -->
        <div class="col-md-4" style="height: 100%;">
            <div class="card border-light mb-3 h-100">
                <div class="card-header">
                    <div class="card-header" style="margin-right: 5px;">
                        <span style="color: green; font-weight: bold;">Mesa: {{ mesa.nome }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-body" style="display: flex; align-items: center; height: 5vh;">
                            <ul class="list-group list-group-flush" style="display: flex; align-items: center; list-style: none; padding: 0; margin: 0;">
                                <li class="list-group-item" style="color: green; font-weight: bold; margin-right: 5px;">{{ mesa.nome }}</li>
                            </ul>
                            <ul class="list-group list-group-flush" style="display: flex; align-items: center; list-style: none; padding: 0; margin: 0;">
                                <li class="list-group-item" style="color: black; font-weight: bold; margin-right: 5px;">Pedido: {{ mesa.pedido }}</li>
                            </ul>
                            <ul class="list-group list-group-flush" style="display: flex; align-items: center; list-style: none; padding: 0; margin: 0;">
                                <li class="list-group-item" style="background-color: green; color: white; font-weight: bold;">Em aberto</li>
                            </ul>
                        </div>
                    </h5>
                    <p class="card-text">
                        <div class="col-md">
                            <hr>
                            <form method="post" action="{% url 'mesa:update_user' mesa.id %}">
                                {% csrf_token %}
                                <div class="form-group mx-2">
                                    <label for="usuario">Atendente:</label>
                                    <select id="usuario" name="usuario" class="form-control">
                                        {% for user in usuarios %}
                                            <option value="{{ user.id }}" {% if user.id == mesa.usuario.id %}selected{% endif %}>
                                                {{ user.username }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3 mx-2">Atualizar Usuário</button>
                            </form>
                        </div>
                    </p>
                </div>
            </div> 
        </div>

        <!-- Informações da Comanda de pedido -->
        <div class="col-md-6" style="height: 100%;">
            <div class="card border-light mb-3 h-100">
                {% if mesa.itens %}
                    <h2 class="mt-3 px-2">Comanda de pedido: {{ mesa.pedido }}</h2>
                    <ul id="item-list">
                        {% include 'mesa/partials/item_list.html' %}
                    </ul>
                    <a href="{% url 'mesa:gerar_comanda_pdf' mesa.id %}" class="btn btn-secondary mt-3">Imprimir Comanda</a>
                {% else %}
                    <h>Nenhum produto na comanda</h>
                {% endif %}
            </div>
        </div>
        
    </div>
</div>