<!-- produto/templates/produto/partials/htmx_componentes/edit_produto.html -->

<form hx-post="{% url 'produto:update_produto' produto.id %}" hx-target="#list-produto" hx-swap="innerHTML">
    {% csrf_token %}
    <label for="nome">Nome do produto</label>
    <input type="text" name="nome_produto" class="form-control" value="{{ produto.nome_produto }}">
    
    <label for="categoria-produto">Categoria</label>
    <select name="categoria" class="form-control">
        {% for categoria in categorias %}
            <option value="{{ categoria.id }}" {% if produto.categoria.id == categoria.id %}selected{% endif %}>
                {{ categoria.nome }}
            </option>
        {% endfor %}
    </select>

    <label for="descricao-produto">Descrição</label>
    <textarea type="textarea" name="descricao" class="form-control" value="{{ produto.descricao }}"></textarea>
    
    <label for="custo-produto">Custo</label>
    <input type="number" name="custo" class="form-control" step="0.01" value="{{ produto.custo }}">
    
    <label for="venda-produto">Preço de Venda</label>
    <input type="number" name="venda" class="form-control" step="0.01" value="{{ produto.venda }}">
    
    <label for="codigo-produto">Código</label>
    <input type="text" name="codigo" class="form-control" value="{{ produto.codigo }}">
    
    <label for="estoque-produto">Estoque</label>
    <input type="number" name="estoque" class="form-control" value="{{ produto.estoque }}">
    
    <label for="estoque-total-produto">Estoque Total</label>
    <input type="number" name="estoque_total" class="form-control" value="{{ produto.estoque_total }}">
    
    <label for="imagem-produto">Imagem</label>
    <input type="file" name="imagem" class="form-control" value="{{ produto.imagem }}">
    <br>
    <button class="btn btn-success">Salvar</button>
</form>


