<!-- templates/produto/partials/htmx_componentes/list_all_produtos.html -->
{% if produtos %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Código</th>
                <th scope="col">Estoque</th>
                <th scope="col" class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome_produto }}</td>
                    <td>{{ produto.venda }}</td>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.estoque }}</td>
                    <td class="text-end">
                        <a href="#" style="cursor: pointer;" class="btn btn-danger"
                            hx-delete="{% url 'produto:delete_produto' produto.id %}"
                            hx-trigger="click"
                            hx-target="#list-produto">x</a>
                        <a href="#" style="cursor: pointer; margin-right: 10px;" class="btn btn-primary edit-produto-link"
                            hx-get="{% url 'produto:edit_produto' produto.id %}"
                            hx-target="#edit-produto-content">Editar</a>
                        <div id="edit-produto-{{ produto.id }}"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4>Nenhum produto cadastrado.</h4>
{% endif %}



