{% extends "base.html" %}

{% load static %}

{% block 'titulo' %} Mesas {% endblock %}

{% block 'conteudo1' %} 
<nav class="navbar navbar-expand px-4 py-3">
    <form action="#" class="d-none d-sm-inline-block">
        <div class="input-group input-group-navbar">
            <input type="text" class="form-control border-0 rounded-0" placeholder="Search...">
            <button class="btn border-0 rounded-0" type="button">
                Search
            </button>
        </div>
    </form>
    <a href="{% url 'cadastrar_mesa' %}" class="btn-cadastro">
        <i class='bx bx-plus-circle'></i>
        <span class="text">Cadastrar Nova Mesa</span>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                    <img src="{% static 'app_chop/img/account.png' %}" class="avatar img-fluid" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-end rounded">
                    <a href="#" class="dropdown-item">
                        <i class="lni lni-timer"></i>
                        <span>Analytics</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="lni lni-cog"></i>
                        <span>Setting</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="lni lni-question-circle"></i>
                        <span>Analytics</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block 'conteudo' %}

    <div class="container-fluid">
        <div class="mb-3">                           
            
            <br>
            <h2>Mesas Abertas</h2>
        <div class="row">
            {% for mesa in mesas_abertas %}
                <div class="col-12 col-md-2">
                    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center"><a href="{% url 'abrir_mesa' mesa.id %}"></a></div>
                        <div class="card-body">
                          <h5 class="card-title text-center">{{ mesa.nome }}</h5>
                          <p class="card-text text-center">Pedido: {{ mesa.pedido }}</p>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
        
        <br>
        <h2>Mesas Fechadas</h2>
        <div class="row">
            {% for mesa in mesas_fechadas %}
                <div class="col-12 col-md-2">
                    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center"><a href="{% url 'abrir_mesa' mesa.id %}">Abrir</a></div>
                        <div class="card-body">
                          <h5 class="card-title text-center">{{ mesa.nome }}</h5>
                          <p class="card-text text-center">Pedido: {{ mesa.pedido }}</p>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}

